<%= provide :title, "Edit user" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="devise-title">Edit <%= resource_name.to_s.humanize %></h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="devise-form">
          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="field form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        
          <div class="field form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        
          <div class="field form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>
      
        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-default' %>
        </div>
      <% end %>
      
      <hr>
      
      <h3>Cancel my account</h3>
      
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: 'Are you sure you want to cancel your account?' }, method: :delete, class: 'btn btn-default' %></p>
      
      <%= link_to root_path, class: 'btn btn-info pull-right' do %>
        Back 
        <%= fa_icon 'arrow-right' %>
      <% end %>
    </div>
  </div>
</div>
