<%= provide :title, "Sign up" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="devise-title">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="devise-form">
          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
      
          <div class="field form-group">
            <%= f.label :password  do %>
              Password
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
      
          <div class="field form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
    
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-default' %>
        </div>
    
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
