<%= provide :title, "Password change" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="devise-title">Change your password</h2>
      
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        
        <div class="devise-form">
          <div class="field">
            <%= f.label :password  do %>
              New password
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        
        <div class="actions">
          <%= f.submit "Change my password", class: 'btn btn-default' %>
        </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>