<%= provide :title, "Password recovery" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="devise-title">Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="devise-form">
          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
        
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-default' %>
        </div>
        
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
