- provide :title, 'Search word'
= hidden_field_tag 'add_word_path', add_word_path
= hidden_field_tag 'translate_path', translate_path
.container-fluid
  .row
    .col-xs-6
      h4
        label Word
      input#word.form-control name='user_word' type='text' value=''
    .col-xs-6
      #result
        h4
          label Translation
        span#translated_word.form-control readonly='true'
  .row
    .col-xs-12
      h4.reference
        a href='http://translate.yandex.com/' target='_blank' Powered by Yandex.Translate
  .row
    .col-xs-12
      .actions.btn-group.pull-right
        = button_tag id: 'search_word', class: 'btn btn-info' do
          span#spinner
          | Search translation 
          = fa_icon 'search'
        = button_tag id: 'add_word', class: 'btn btn-success' do
          | Add word 
          = fa_icon 'pencil'