- provide :title, "Edit word"
.container-fluid
  = form_for(@word, url: update_word_path(id: @word.id)) do |f|
    = render 'layouts/word_form_fields',  f: f
    .row
      .col-xs-12
        .actions.btn-group.pull-right
          = f.button :submit, class: 'btn btn-warning' do
            | Edit word 
            = fa_icon 'edit'
          = link_to words_path, class: 'btn btn-info' do
            | Back 
            = fa_icon 'arrow-right'
