- provide :title, "Glossary"
.container-fluid
  .search-form.form-inline
    = search_form_for @search do |f|
      .form-group
        = f.search_field :word_or_translation_or_definition_cont, class: 'form-control'
      .form-group
        = number_field_tag :n_words, params[:n_words] || 25, min: 1, max: 50, class: 'form-control'
      = f.button :submit, class: 'btn btn-info' do
        | Search 
        = fa_icon 'search'
  hr
  .words-table
    - if @words.empty?
      ul
        li
          h4 There is no content to show
    - else
      table.table.table-responsive
        thead
          tr
            th Word
            th Translation
            th Definition
            th Date
        tbody
          - @words.each do |w|
            tr
              td = w.word
              td = w.translation
              td = w.definition.empty? ? "-----" : w.definition
              td = w.created_at.strftime("%-d/%-m/%Y")
              td.actions
                .action.edit-action
                  = link_to edit_word_path(id: w) do
                    = fa_icon 'edit 2x'
                .action.remove-action
                  = link_to destroy_word_path(id: w, q: params[:q], n_words: params[:n_words]), data: {confirm: "Are you sure you want to delete the word '#{w.word}'?"}, method: :delete do
                    = fa_icon 'remove 2x'
        = paginate @words, window: 2