- provide :title, "Add new word"
.container-fluid
  = form_for(@word, url: create_word_path) do |f|
    = render 'layouts/word_form_fields',  f: f
    .row
      .col-xs-12
        .actions.btn-group.pull-right
          = f.button :submit, class: 'btn btn-success' do
            | Create word 
            = fa_icon 'pencil'