$white: #FFFFFF;
$black: #000000;
$gray80: #cccccc;
$gray95: #F2F2F2;
$gray98: #FAFAFA;
$dark-red: #A94442;
$dark-green: #3C763D;
$white-blue: #EDF8FF;
$notice-bg-blue: #D9EDF7;
$notice-border-blue: #BCE8F1;
$notice-text-blue: #31708F;
$notice-bg-red: #F2DEDE;
$notice-border-red: #EBCCD1;
$notice-text-red: #A94442;
$light-blue: #C4E2F5;
$blue: #79A7EC;
$dark-blue: #0D3A7F;
$light-green: #DAF6CE;
$transparent-black: rgba(0, 0, 0, 0.5);