@import "colors";

.devise-title {
  font-weight: bold;
  margin-left: -15px;
}

.devise-form {

  input:not([type='checkbox']) {
    width: 100%;
  }
}

.alert-notice {
  background-color: $notice-bg-blue;
  border-color: $notice-border-blue;
  color: $notice-text-blue;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.alert-alert {
  background-color: $notice-bg-red;
  border-color: $notice-border-red;
  color: $notice-text-red;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

#error_explanation {
  background-color: $notice-bg-red;
  color: $notice-text-red;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid $notice-border-red;
  border-radius: 4px;
  box-sizing: border-box;
  
  h2 {
    display: none;
  }
  
  ul {
    margin-bottom: 0px;
  }
}
