@import "colors";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $white;
  background-image: image-url('background.png');
  background-size: 100% auto;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: $light-blue;
  border-top: solid 5px;
  border-color: $white-blue;
  
  .info {
    color: $white;
    font-weight: bold;
    white-space: nowrap;
    
    a {
      text-decoration: none;
      color: $white;
      
      &:hover {
        color: $white;
      }
    }
  }
}

#logo {
  text-align: center;
  font-size: 500%;
  margin-bottom: 35px;
  padding-top: 10px;
  
  a {
    text-color: $blue;
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      text-color: $dark-blue;
    }
  }
}

#content {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 7px solid $white-blue;
  padding: 35px 25px 25px 25px;
  background-color: $light-blue;
  margin-bottom: 40px;
}

.nav {
  
  li {
    font-size: 140%;
    font-weight: bold;
  }
}

#user-tools {
  text-align: right;
  padding: 30px 40px 0 0;
}

.alert {
  font-weight: bold;
}

.actions {
  margin-top: 25px;
  text-align: right;
}