@import "colors";

span {
  
  &.form-icon {
  }
}

.form-group {
  
  &.success {
    
    .form-control {
      box-shadow: 0px 0px 2px $dark-green;
    }
    
    .form-icon {
      color: $dark-green;
    }
  }
  
  &.error {
    
    .form-control {
      box-shadow: 0px 0px 2px $dark-red;
    }
    
    .form-icon {
      color: $dark-red;
    }
  }
}

#word_definition {
  resize: vertical;
  word-wrap: normal;
  height: 100px;
}

.search-form {
  text-align: right;
}

#n_words {
  width: 60px;
  margin-right: 5px;
}

.words-table {
  
  table {
    border: none;
    word-wrap: break-word;
    word-break: break-all;
    
    thead {
      border-collapse: separate;
      
      tr {
        
        th {
          background-color: $light-green;
          text-align: center;
          
          &:first-child {
            -moz-border-top-left-radius: 8px;
            -webkit-border-top-left-radius: 8px;
            border-top-left-radius: 8px;
          }
          
          &:last-child {
            -moz-border-top-right-radius: 8px;
            -webkit-border-top-right-radius: 8px;
            border-top-right-radius: 8px;
          }
        }
      }
    }
    
    tbody {
      border-collapse: collapse;
      
      tr {
        
        &:nth-child(odd) {
          
          td {
            background-color: $white;
          }
        }
        
        &:nth-child(even) {
          
          td {
            background-color: $gray95;
          }
        }
        
        td {
          border: solid $gray80 1px;
          
          &.actions {
            background-color: transparent;
            border: none;
            text-align: left;
            width: 70px;
            
            .action {
              display: inline;
              
              &.edit-action {
                
                .fa {
                  color: $dark-green;
                }
              }
              
              &.remove-action {
                
                .fa {
                  color: $dark-red;
                }
              }
            }
          }
        }
      }
    }
  }
}