#user-tools
  .btn-group
    - if user_signed_in?
      = link_to edit_user_registration_path, class: 'btn btn-info' do 
        | Edit 
        = fa_icon 'user'
      = link_to destroy_user_session_path, method: :delete, class: 'btn btn-info' do
        | Logout 
        = fa_icon 'sign-out'
    - else
      = link_to new_user_session_path, class: 'btn btn-info' do
        | Login 
        = fa_icon 'sign-in'
      = link_to new_user_registration_path, class: 'btn btn-info' do
        | Sign up 
        = fa_icon 'chevron-circle-up'
h1#logo
  = link_to 'Spanglish', root_path
.container
  - if user_signed_in?
    ul.nav.nav-tabs.nav-justified
      = content_tag :li, class: active_class('pages#search')
        = link_to search_path do
          = fa_icon 'search'
          |  Search 
      = content_tag :li, class: active_class('words#new', 'words#create')
        = link_to add_word_path do
          = fa_icon 'pencil'
          |  Add word 
      = content_tag :li, class: active_class('words#index')
        = link_to words_path do
          = fa_icon 'list'
          |  Glossary 