.row
  .col-xs-12
    - if @word.errors.any?
      #error-explanation
        .alert.alert-danger
          ul
            - @word.errors.full_messages.each do |msg|
              li
                = msg
.row
  .col-xs-6
    .form-group class=(@word.errors.any? ? ((@word.errors.key? :word) ? 'error' : 'success') : '')
      h4
        = f.label :word do
          | Word 
          span.form-icon.glyphicon class=(@word.errors.any? ? ((@word.errors.key? :word) ? 'glyphicon-remove' : 'glyphicon-ok') : '')
      = f.text_field :word, @user_word.present? ? { class: 'form-control', value: @user_word } : { class: 'form-control' }
  .col-xs-6
    .form-group class=(@word.errors.any? ? ((@word.errors.key? :translation) ? 'error' : 'success') : '')
      h4
        = f.label :translation do
          | Translation 
          span.form-icon.glyphicon class=(@word.errors.any? ? ((@word.errors.key? :translation) ? 'glyphicon-remove' : 'glyphicon-ok') : '')
      = f.text_field :translation, @suggested_translation.present? ? { class: 'form-control', value: @suggested_translation } : { class: 'form-control' }
hr
.row
  .col-xs-12
    .form-group class=(@word.errors.any? ? ((@word.errors.key? :definition) ? 'error' : 'success') : '')
      h4
        = f.label :definition do
          | Definition 
          span.form-icon.glyphicon class=(@word.errors.any? ? ((@word.errors.key? :definition) ? 'glyphicon-remove' : 'glyphicon-ok') : '')
      = f.text_area :definition, class: 'form-control'